.announcement-banner {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.announcement-banner p {
    margin: 0;
    font-size: 20px;
    display: inline-block;
    font-weight: 500;
}

.announcement-banner .button {
    margin-left: 35px;
    padding: 10px 20px;
    background-color: #0073aa;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

/* body{
    padding-top: 10px;
} */

.announcement-banner a.button:hover {
    background-color: #4a83ac;
}